<header>
    <a href="/" class="logo">
        <img class="logo_image" src="/logo.svg" alt="Лого">
        <h1>
            <span class="logo_text_another_color">Telltail</span>Games
        </h1>
    </a>
</header>
