.quests {
    margin: 50px 0 0 0;
    padding: 0;
}

.quest_item {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: start;
    padding: 0 0 51px 99px;
}

.quest_image {
    width: 200px;
    height: 150px;
    object-fit: cover;
    margin: 0 34px 0 0;
}

.quest_name {
    text-decoration: none;
    font-family: Gabriela, sans-serif;
    font-size: 30px;
    color: #000;
    margin: 0;
}

.quest_description {
    width: 530px;
    font-family: Gabriela, sans-serif;
    font-size: 18px;
    line-height: 28px;
}

.quest_tags {
    padding: 0;
    margin: 20px 0 0 0;
}

.quest_tag_item {
    display: inline-block;
}

.quest_tag {
    border-radius: 4px;
    background-color: #b3b3b3;
    font-family: Roboto, sans-serif;
    color: #fff;
    font-size: 18px;
    text-decoration: none;
    padding: 10px 18px;
    margin: 0 8px 0 0;
}

.tag_text_name_russian {
    font-family: Gabriela, sans-serif;
    font-size: 42px;
    color: #000;
    margin: 36px 0 38px 109px;

}
